<!-- partial -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>DOWNLOAD MDS Binaries</title>
<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>
<style>
body {
  background: #B8D7FF;
}

.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #47b39d;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="username"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;

}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #47b39d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}

</style>

   <div class="main-panel">
		<div class="content-wrapper">
			<h2 class="text-dark font-weight-bold mb-2"> GET MDS.INI </h2>
			<div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
           <form class="form-style-7">
                 <h1>DOWNLOAD MDS Binaries</h1>
                        <ul>
<li>
    <label for="name">FILE NAME</label>
    <input type="text" name="filename" maxlength="100">
    <span>Enter  full file  name here </span>
</li>
<li>
    <label for="username">Nom Machine</label>
    <input type="username" name="username" maxlength="100">
    <span>Enter a valid server Name</span>
</li>



 <div class="cntainer">
    <form>
                                          
			<button><i class="fa fa-download"></i></button>
                                    
		
		<style>
		    *{
			margin: 0;
			padding: 0;
		    }
		   .container{
			margin: auto;
			display: flex;
			height: 100vh;
		
		    }
		  form{
			margin: auto;
		    }
		   button {
			width: 250px;
			height: 50px;
			text-align: left;
			position: relative;
			border:none;
			outline: none;
			border-radius: 10px;
			box-shadow: 0 3px 3px #aaa;
			margin: 40px;
			font-size: 20px;
			font-weight: bold;
			color: #333;
			padding-left: 20px;
			box-sizing: border-box;
		
		    }
		
		   button::after {
			content: "";
			position: absolute;
			background-color:#47b39d;
			width: 30px;
			margin-right: 155px;
			bottom: 0;
			top: 0;
			right: 0;
			transform: skew(-30deg);
		    } 
		   button::before{
			content:"download";
			line-height: 50px;
			text-align: center;
			border-radius: 0 10px 10px 0;
			position: absolute;
			background-color:#47b39d;
			width: 170px;
			bottom: 0;
			top: 0;
			right: 0;
		    }
		   button:nth-child(2)::after,form button:nth-child(2)::before{
			background-color: skyblue;
		   }
		   button:nth-child(4)::after,form button:nth-child(4)::before{
			background-color: #47b39d;
		   }
		   button:nth-child(5)::after,form button:nth-child(5)::before{
			background-color: #ffc153;
		   }
		   button:hover{
			filter: brightness(.8);
		   }

	    </style>
 </div>                     

         
        
		</form>				
						

</div>


