<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Connect Plus</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="../../assets/css/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="../../assets/images/favicon.png" />
      </head>
 
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title"> Form elements </h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                  </ol>
                </nav>
              </div>
    <div class="main-panel">
      <div class="content-wrapper">
         <div class="row">
        
        
        <div class="col-lg-12 grid-margin stretch-card">
            
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">List of Files </h4>
                      
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> ID </th>
                            <th> INIFILE </th>
                            <th> Dateofdownload </th>
                            <th> Action </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td >
                              1
                            </td>
                            <td> mds.ini </td>
                            
                            <td> May 15, 2015 </td>
                            <td> <button type="button" class="btn btn-danger">Delete</button> </td>
                            
                          </tr>
                          <tr>
                            <td >
                              1
                            </td>
                            <td> msd_old.ini</td>
                            
                            <td> May 15, 2015 </td>
                            <td> <button type="button" class="btn btn-danger">Delete</button> </td>
                            
                          </tr>
                          <tr>
                            <td >
                              1
                            </td>
                            <td>conf.ini </td>
                            
                            <td> May 15, 2015 </td>
                            <td> <button type="button" class="btn btn-danger">Delete</button> </td>
                            
                          </tr>
                          
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                
                </div>
            </div>
          </div>
          
    </div>
    </html>