<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Connect Plus</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="../../assets/css/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="../../assets/images/favicon.png" />
      </head>
 <div class="main-panel">
    <div class="content-wrapper">

      <div class="row">
        
        
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Table of machine</h4>
                <p class="card-description"> Add class <code>.table-striped</code>
                </p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      
                      <th> First name </th>
                      
                      
                      <th> Deadline </th>
                    </tr>
                  </thead>
                  <tbody>
                    
                      <td> Herman Beck </td>
                      
                      
                      <td>  <button type="button" class="btn btn-success btn-rounded btn-fw" onclick="myfunction ">connect</button></td>
                    </tr>
                    <tr>
                      
                      <td> Messsy Adam </td>
                      
                      <td>  <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button> </td>
                    </tr>
                    <tr>
                      
                      <td> John Richards </td>
                      
                      
                      <td> <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button> </td>
                    </tr>
                    
                      <td> Peter Meggik </td>
                      
                      
                      <td> <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button></td>
                    </tr>
                    <tr>
                      
                      <td> Edward </td>
                      
                      
                      <td>  <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button> </td>
                    </tr>
                    
                      <td> John Doe </td>
                      
                      
                      <td>  <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button> </td>
                    </tr>
                    
                      <td> Henry Tom </td>
                      
                      
                      <td>  <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button> </td>
                    </tr>
                  </tbody>
                  <script>
                       function myfunction(){
                        let tokenAmount = document.getElementById("input").value;
                       }
                  </script>
                </table>
                
              </div>
            </div>
          </div>
         
    </div>
    </html>